// 此自定义uView主题生成于2022-04-14 12:04
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #62be9d;
$u-type-error: #f1c953;
$u-type-warning: #8c673f;
$u-type-success: #366545;
$u-type-info: #62be9d;
$u-type-primary-light: #beddd2;
$u-type-error-light: #f0e2b9;
$u-type-warning-light: #e8ceb2;
$u-type-success-light: #bed7c6;
$u-type-info-light: #c5f2e2;
$u-type-primary-dark: #7ec7ad;
$u-type-error-dark: #f0ce6d;
$u-type-warning-dark: #a68058;
$u-type-success-dark: #5a8b6a;
$u-type-info-dark: #87d7ba;
$u-type-primary-disabled: #9cd0bd;
$u-type-error-disabled: #f0d88e;
$u-type-warning-disabled: #c19d76;
$u-type-success-disabled: #7fa98b;
$u-type-info-disabled: #9ae0c7;
$u-main-color: #2e402c;
$u-content-color: #366545;
$u-tips-color: #acd48d;
$u-light-color: #faf8d0;
$u-border-color: #acd48d;
$u-bg-color: #faf8d0;
$u-form-item-border-color: #faf8d0;
$u-form-item-height: 70rpx;
